<!-- Navbar Start -->
<nav class="navbar fixed-top shadow-sm navbar-expand-lg bg-dark navbar-dark py-3 py-lg-0 px-lg-5">
  <a href="index.html" class="navbar-brand d-block d-lg-none">
    <h1 class="font-secondary text-white mb-n2">Carolina <span class="text-primary">&</span> Jhonatan</h1>
  </a>
  <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
    <div class="navbar-nav ml-auto py-0">
      <a href="#home" class="nav-item nav-link active">Inicio</a>
      <a href="#about" class="nav-item nav-link">Sobre nosotros</a>
      <a href="#story" class="nav-item nav-link">Historia</a>
      <a href="#gallery" class="nav-item nav-link">Galería</a>
    </div>
    <a href="index.html" class="navbar-brand mx-5 d-none d-lg-block">
      <h1 class="font-secondary text-white mb-n2">Carolina <span class="text-primary">&</span> Jhonatan</h1>
    </a>
    <div class="navbar-nav mr-auto py-0">
      <a href="#family" class="nav-item nav-link">Familia</a>
      <a href="#event" class="nav-item nav-link">Eventos</a>
      <a href="#rsvp" class="nav-item nav-link">Asistencia</a>
      <a href="#contact" class="nav-item nav-link">Contacto</a>
    </div>
  </div>
</nav>
<!-- Navbar End -->


<!-- Carousel Start -->
<div class="container-fluid p-0 mb-5 pb-5" id="home">
  <div id="header-carousel" class="carousel slide carousel-fade" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item position-relative active" style="height: 100vh; min-height: 400px;">
        <img class="position-absolute w-100 h-100" src="assets/img/carousel-1.jpg" style="object-fit: cover;"
          alt="eventPlanner">
        <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
          <div class="p-3" style="max-width: 900px;">
            <h1 class="display-1 font-secondary text-white mt-n3 mb-md-4">Carolina <span class="text-primary">&</span>
              Jhonatan</h1>
            <div class="d-inline-block border-top border-bottom border-light py-3 px-4">
              <h3 class="text-uppercase font-weight-normal text-white m-0" style="letter-spacing: 2px;">Nuestro
                matrimonio</h3>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item position-relative" style="height: 100vh; min-height: 400px;">
        <img class="position-absolute w-100 h-100" src="assets/img/carousel-2.jpg" style="object-fit: cover;" alt="eventPlanner">
        <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
          <div class="p-3" style="max-width: 900px;">
            <h1 class="display-1 font-secondary text-white mt-n3 mb-md-4">Carolina <span class="text-primary">&</span>
              Jhonatan</h1>
            <div class="d-inline-block border-top border-bottom border-light py-3 px-4">
              <h3 class="text-uppercase font-weight-normal text-white m-0" style="letter-spacing: 2px;">Nuestro
                matrimonio</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
    <a class="carousel-control-prev justify-content-start" href="#header-carousel" data-slide="prev">
      <div class="btn btn-primary px-0" style="width: 68px; height: 68px;">
        <span class="carousel-control-prev-icon mt-3"></span>
      </div>
    </a>
    <a class="carousel-control-next justify-content-end" href="#header-carousel" data-slide="next">
      <div class="btn btn-primary px-0" style="width: 68px; height: 68px;">
        <span class="carousel-control-next-icon mt-3"></span>
      </div>
    </a>
  </div>
</div>
<!-- Carousel End -->


<!-- Video Modal Start -->
<div class="modal fade" id="videoModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <!-- 16:9 aspect ratio -->
        <div class="embed-responsive embed-responsive-16by9">
          <iframe class="embed-responsive-item" src="" id="video" allowscriptaccess="always" allow="autoplay"></iframe>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Video Modal End -->


<!-- About Start -->
<div class="container-fluid py-5" id="about">
  <div class="container py-5">
    <div class="section-title position-relative text-center">
      <h6 class="text-uppercase text-primary mb-3" style="letter-spacing: 3px;">Sobre nosotros</h6>
      <h1 class="font-secondary display-4">El novio & la novia</h1>
      <i class="far fa-heart text-dark"></i>
    </div>
    <div class="row m-0 mb-4 mb-md-0 pb-2 pb-md-0">
      <div class="col-md-6 p-0 text-center text-md-right">
        <div class="h-100 d-flex flex-column justify-content-center bg-secondary p-5">
          <h3 class="mb-3">El novio</h3>
          <p>Clita ipsum aliquyam dolor diam dolores elitr nonumy. Rebum
            sea vero ipsum eirmod tempor kasd. Diam amet lorem erat eos sit lorem elitr justo.</p>
          <h3 class="font-secondary font-weight-normal text-muted mb-3"><i
              class="fa fa-male text-primary pr-3"></i>Jhonatan</h3>
          <div class="position-relative">
            <a class="btn btn-outline-primary btn-square mr-1" href="#"><i class="fab fa-twitter"></i></a>
            <a class="btn btn-outline-primary btn-square mr-1" href="#"><i class="fab fa-facebook-f"></i></a>
            <a class="btn btn-outline-primary btn-square mr-1" href="#"><i class="fab fa-linkedin-in"></i></a>
            <a class="btn btn-outline-primary btn-square" href="#"><i class="fab fa-instagram"></i></a>
          </div>
        </div>
      </div>
      <div class="col-md-6 p-0" style="min-height: 400px;">
        <img class="position-absolute w-100 h-100" src="assets/img/about-1.jpg" style="object-fit: cover;" alt="eventPlanner">
      </div>
    </div>
    <div class="row m-0">
      <div class="col-md-6 p-0" style="min-height: 400px;">
        <img class="position-absolute w-100 h-100" src="assets/img/about-2.jpg" style="object-fit: cover;" alt="eventPlanner">
      </div>
      <div class="col-md-6 p-0 text-center text-md-left">
        <div class="h-100 d-flex flex-column justify-content-center bg-secondary p-5">
          <h3 class="mb-3">La novia</h3>
          <p>Clita ipsum aliquyam dolor diam dolores elitr nonumy. Rebum
            sea vero ipsum eirmod tempor kasd. Diam amet lorem erat eos sit lorem elitr justo.</p>
          <h3 class="font-secondary font-weight-normal text-muted mb-3"><i
              class="fa fa-female text-primary pr-3"></i>Carolina</h3>
          <div class="position-relative">
            <a class="btn btn-outline-primary btn-square mr-1" href="#"><i class="fab fa-instagram"></i></a>
            <a class="btn btn-outline-primary btn-square mr-1" href="#"><i class="fab fa-facebook-f"></i></a>
            <a class="btn btn-outline-primary btn-square mr-1" href="#"><i class="fab fa-linkedin-in"></i></a>
            <a class="btn btn-outline-primary btn-square" href="#"><i class="fab fa-instagram"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- About End -->


<!-- Story Start -->
<div class="container-fluid py-5" id="story">
  <div class="container pt-5 pb-3">
    <div class="section-title position-relative text-center">
      <h6 class="text-uppercase text-primary mb-3" style="letter-spacing: 3px;">Historia</h6>
      <h1 class="font-secondary display-4">Nuestra historia de amor</h1>
      <i class="far fa-heart text-dark"></i>
    </div>
    <div class="container timeline position-relative p-0">
      <div class="row">
        <div class="col-md-6 text-center text-md-right">
          <img class="img-fluid mr-md-3" src="assets/img/story-1.jpg" alt="">
        </div>
        <div class="col-md-6 text-center text-md-left">
          <div class="h-100 d-flex flex-column justify-content-center bg-secondary p-4 ml-md-3">
            <h4 class="mb-2">Cuando nos conocimos</h4>
            <p class="text-uppercase mb-2">01 Jan 2050</p>
            <p class="m-0">Lorem elitr magna stet rebum dolores sed. Est stet labore est lorem lorem at amet sea, eos
              tempor rebum, labore amet ipsum sea lorem, stet rebum eirmod amet. Kasd clita kasd stet amet est dolor
              elitr.</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 text-center text-md-right">
          <div class="h-100 d-flex flex-column justify-content-center bg-secondary p-4 mr-md-3">
            <h4 class="mb-2">Primera cita</h4>
            <p class="text-uppercase mb-2">01 Jan 2050</p>
            <p class="m-0">Lorem elitr magna stet rebum dolores sed. Est stet labore est lorem lorem at amet sea, eos
              tempor rebum, labore amet ipsum sea lorem, stet rebum eirmod amet. Kasd clita kasd stet amet est dolor
              elitr.</p>
          </div>
        </div>
        <div class="col-md-6 text-center text-md-left">
          <img class="img-fluid ml-md-3" src="assets/img/story-2.jpg" alt="">
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 text-center text-md-right">
          <img class="img-fluid mr-md-3" src="assets/img/story-3.jpg" alt="">
        </div>
        <div class="col-md-6 text-center text-md-left">
          <div class="h-100 d-flex flex-column justify-content-center bg-secondary p-4 ml-md-3">
            <h4 class="mb-2">Propuesta</h4>
            <p class="text-uppercase mb-2">01 Jan 2050</p>
            <p class="m-0">Lorem elitr magna stet rebum dolores sed. Est stet labore est lorem lorem at amet sea, eos
              tempor rebum, labore amet ipsum sea lorem, stet rebum eirmod amet. Kasd clita kasd stet amet est dolor
              elitr.</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 text-center text-md-right">
          <div class="h-100 d-flex flex-column justify-content-center bg-secondary p-4 mr-md-3">
            <h4 class="mb-2">Compromiso</h4>
            <p class="text-uppercase mb-2">01 Jan 2050</p>
            <p class="m-0">Lorem elitr magna stet rebum dolores sed. Est stet labore est lorem lorem at amet sea, eos
              tempor rebum, labore amet ipsum sea lorem, stet rebum eirmod amet. Kasd clita kasd stet amet est dolor
              elitr.</p>
          </div>
        </div>
        <div class="col-md-6 text-center text-md-left">
          <img class="img-fluid ml-md-3" src="assets/img/story-4.jpg" alt="">
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Story End -->


<!-- Gallery Start -->
<div class="container-fluid bg-gallery" id="gallery" style="padding: 120px 0; margin: 90px 0;">
  <div class="section-title position-relative text-center" style="margin-bottom: 120px;">
    <h6 class="text-uppercase text-primary mb-3" style="letter-spacing: 3px;">Galería</h6>
    <h1 class="font-secondary display-4 text-white">Nuestra galería de fotos</h1>
    <i class="far fa-heart text-white"></i>
  </div>
  <div class="owl-carousel gallery-carousel">
    <div class="gallery-item">
      <img class="img-fluid w-100" src="assets/img/gallery-1.jpg" alt="">
      <a href="assets/img/gallery-1.jpg" data-lightbox="gallery">
        <i class="fa fa-2x fa-plus text-white"></i>
      </a>
    </div>
    <div class="gallery-item">
      <img class="img-fluid w-100" src="assets/img/gallery-2.jpg" alt="">
      <a href="assets/img/gallery-2.jpg" data-lightbox="gallery">
        <i class="fa fa-2x fa-plus text-white"></i>
      </a>
    </div>
    <div class="gallery-item">
      <img class="img-fluid w-100" src="assets/img/gallery-3.jpg" alt="">
      <a href="assets/img/gallery-3.jpg" data-lightbox="gallery">
        <i class="fa fa-2x fa-plus text-white"></i>
      </a>
    </div>
    <div class="gallery-item">
      <img class="img-fluid w-100" src="assets/img/gallery-4.jpg" alt="">
      <a href="assets/img/gallery-4.jpg" data-lightbox="gallery">
        <i class="fa fa-2x fa-plus text-white"></i>
      </a>
    </div>
    <div class="gallery-item">
      <img class="img-fluid w-100" src="assets/img/gallery-5.jpg" alt="">
      <a href="assets/img/gallery-5.jpg" data-lightbox="gallery">
        <i class="fa fa-2x fa-plus text-white"></i>
      </a>
    </div>
    <div class="gallery-item">
      <img class="img-fluid w-100" src="assets/img/gallery-6.jpg" alt="">
      <a href="assets/img/gallery-6.jpg" data-lightbox="gallery">
        <i class="fa fa-2x fa-plus text-white"></i>
      </a>
    </div>
  </div>
</div>
<!-- Gallery End -->


<!-- Event Start -->
<div class="container-fluid py-5" id="event">
  <div class="container py-5">
    <div class="section-title position-relative text-center">
      <h6 class="text-uppercase text-primary mb-3" style="letter-spacing: 3px;">Eventos</h6>
      <h1 class="font-secondary display-4">Nuestros eventos para el matrimonio</h1>
      <i class="far fa-heart text-dark"></i>
    </div>
    <div class="row justify-content-center">
      <div class="col-md-6 text-center">
        <h5 class="font-weight-normal text-muted mb-3 pb-3">Clita ipsum aliquyam dolor diam dolores elitr nonumy. Rebum
          sea vero ipsum eirmod tempor kasd. Diam amet lorem erat eos sit lorem elitr justo</h5>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 border-right border-primary">
        <div class="text-center text-md-right mr-md-3 mb-4 mb-md-0">
          <img class="img-fluid mb-4" src="assets/img/event-1.jpg" alt="">
          <h4 class="mb-3">La preboda</h4>
          <p class="mb-2">Club Manizales - Sede Centro</p>
          <p><a
              href="https://www.google.com/maps/place/Club+Manizales+-+Sede+Centro/@5.0674377,-75.5197362,17z/data=!4m10!1m2!2m1!1sclub+manizales!3m6!1s0x8e476ff0ba894ff7:0x67c074668da44dc8!8m2!3d5.0670643!4d-75.5151836!15sCg5jbHViIG1hbml6YWxlc5IBC3NvY2lhbF9jbHVi4AEA!16s%2Fg%2F11c55vptyc?entry=ttu"><strong>Ver
                ubicación</strong></a></p>
          <p class="mb-0">01:00 p.m. - 02:00 p.m.</p>
        </div>
      </div>
      <div class="col-md-6">
        <div class="text-center text-md-left ml-md-3">
          <img class="img-fluid mb-4" src="assets/img/event-2.jpg" alt="">
          <h4 class="mb-3">La ceremonia y la fiesta</h4>
          <p class="mb-2">Recinto del pensamiento</p>
          <p><a
              href="https://www.google.com/maps/search/recinto+del+pensamiento/@5.0404694,-75.4467754,18z/data=!3m1!4b1?entry=ttu"><strong>Ver
                ubicación</strong></a></p>
          <p class="mb-0">04:00 p.m. - 12:00 a.m.</p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Event End -->


<!-- Friends & Family Start -->
<div class="container-fluid py-5" id="family">
  <div class="container pt-5 pb-3">
    <div class="section-title position-relative text-center">
      <h6 class="text-uppercase text-primary mb-3" style="letter-spacing: 3px;">Amigos y familiares</h6>
      <h1 class="font-secondary display-4">Padrinos & Madrinas</h1>
      <i class="far fa-heart text-dark"></i>
    </div>
    <div class="row">
      <div class="col-12 text-center mb-2">
        <ul class="list-inline mb-4" id="portfolio-flters">
          <li class="btn btn-outline-primary font-weight-bold m-1 py-2 px-4" data-filter=".first">Padrinos</li>
          <li class="btn btn-outline-primary font-weight-bold m-1 py-2 px-4" data-filter=".second">Madrinas</li>
          <li class="btn btn-outline-primary font-weight-bold m-1 py-2 px-4" data-filter=".all">Todos</li>
        </ul>
      </div>
    </div>
    <div class="row portfolio-container">
      <div class="col-lg-4 col-md-6 mb-4 portfolio-item first all">
        <div class="position-relative mb-2">
          <img class="img-fluid w-100" src="assets/img/groomsmen-1.jpg" alt="">
          <div class="bg-secondary text-center p-4">
            <h4 class="mb-3">Camilo</h4>
            <p class="text-uppercase">Best Friend</p>
            <div class="d-inline-block">
              <a class="mx-2" href="#"><i class="fab fa-twitter"></i></a>
              <a class="mx-2" href="#"><i class="fab fa-facebook-f"></i></a>
              <a class="mx-2" href="#"><i class="fab fa-linkedin-in"></i></a>
              <a class="mx-2" href="#"><i class="fab fa-instagram"></i></a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 mb-4 portfolio-item second all">
        <div class="position-relative mb-2">
          <img class="img-fluid w-100" src="assets/img/bridesmaid-1.jpg" alt="">
          <div class="bg-secondary text-center p-4">
            <h4 class="mb-3">Full Name</h4>
            <p class="text-uppercase">Best Friend</p>
            <div class="d-inline-block">
              <a class="mx-2" href="#"><i class="fab fa-twitter"></i></a>
              <a class="mx-2" href="#"><i class="fab fa-facebook-f"></i></a>
              <a class="mx-2" href="#"><i class="fab fa-linkedin-in"></i></a>
              <a class="mx-2" href="#"><i class="fab fa-instagram"></i></a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 mb-4 portfolio-item second all">
        <div class="position-relative mb-2">
          <img class="img-fluid w-100" src="assets/img/groomsmen-2.jpg" alt="">
          <div class="bg-secondary text-center p-4">
            <h4 class="mb-3">Full Name</h4>
            <p class="text-uppercase">Best Friend</p>
            <div class="d-inline-block">
              <a class="mx-2" href="#"><i class="fab fa-twitter"></i></a>
              <a class="mx-2" href="#"><i class="fab fa-facebook-f"></i></a>
              <a class="mx-2" href="#"><i class="fab fa-linkedin-in"></i></a>
              <a class="mx-2" href="#"><i class="fab fa-instagram"></i></a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 mb-4 portfolio-item second all">
        <div class="position-relative mb-2">
          <img class="img-fluid w-100" src="assets/img/bridesmaid-2.jpg" alt="">
          <div class="bg-secondary text-center p-4">
            <h4 class="mb-3">Full Name</h4>
            <p class="text-uppercase">Best Friend</p>
            <div class="d-inline-block">
              <a class="mx-2" href="#"><i class="fab fa-twitter"></i></a>
              <a class="mx-2" href="#"><i class="fab fa-facebook-f"></i></a>
              <a class="mx-2" href="#"><i class="fab fa-linkedin-in"></i></a>
              <a class="mx-2" href="#"><i class="fab fa-instagram"></i></a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 mb-4 portfolio-item first all">
        <div class="position-relative mb-2">
          <img class="img-fluid w-100" src="assets/img/groomsmen-3.jpg" alt="">
          <div class="bg-secondary text-center p-4">
            <h4 class="mb-3">Full Name</h4>
            <p class="text-uppercase">Best Friend</p>
            <div class="d-inline-block">
              <a class="mx-2" href="#"><i class="fab fa-twitter"></i></a>
              <a class="mx-2" href="#"><i class="fab fa-facebook-f"></i></a>
              <a class="mx-2" href="#"><i class="fab fa-linkedin-in"></i></a>
              <a class="mx-2" href="#"><i class="fab fa-instagram"></i></a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 mb-4 portfolio-item first all">
        <div class="position-relative mb-2">
          <img class="img-fluid w-100" src="assets/img/bridesmaid-3.jpg" alt="">
          <div class="bg-secondary text-center p-4">
            <h4 class="mb-3">Full Name</h4>
            <p class="text-uppercase">Best Friend</p>
            <div class="d-inline-block">
              <a class="mx-2" href="#"><i class="fab fa-twitter"></i></a>
              <a class="mx-2" href="#"><i class="fab fa-facebook-f"></i></a>
              <a class="mx-2" href="#"><i class="fab fa-linkedin-in"></i></a>
              <a class="mx-2" href="#"><i class="fab fa-instagram"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Friends & Family End -->

<div class="container-fluid py-5" id="event">
  <div class="container py-5">
    <div class="section-title position-relative text-center">
      <h6 class="text-uppercase text-primary mb-3" style="letter-spacing: 3px;">Recepción de regalos</h6>
      <i class="far fa-heart text-dark"></i>
    </div>
    <div class="row justify-content-center">
      <div class="col-md-6 text-center">
        <h5 class="font-weight-normal text-muted mb-3 pb-3">Clita ipsum aliquyam dolor diam dolores elitr nonumy. Rebum
          sea vero ipsum eirmod tempor kasd. Diam amet lorem erat eos sit lorem elitr justo</h5>
      </div>
      <div class="col-md-6 text-center">
        <a
          href="https://www.google.com/maps/place/Club+Manizales+-+Sede+Centro/@5.0674377,-75.5197362,17z/data=!4m10!1m2!2m1!1sclub+manizales!3m6!1s0x8e476ff0ba894ff7:0x67c074668da44dc8!8m2!3d5.0670643!4d-75.5151836!15sCg5jbHViIG1hbml6YWxlc5IBC3NvY2lhbF9jbHVi4AEA!16s%2Fg%2F11c55vptyc?entry=ttu"><img
            class="img-fluid" style="height:90px; width: 90px;" src="assets/img/pse.png" alt=""></a>
      </div>
    </div>
  </div>
</div>

<!-- RSVP Start -->
<div class="container-fluid py-5" id="rsvp">
  <div class="container py-5">
    <div class="section-title position-relative text-center">
      <h6 class="text-uppercase text-primary mb-3" style="letter-spacing: 3px;">Confirmar asistencia</h6>
      <h1 class="font-secondary display-4">Haz parte de nuestra celebración</h1>
      <i class="far fa-heart text-dark"></i>
    </div>
    <div class="row justify-content-center">
      <div class="col-lg-8">
        <div class="text-center">
          <form>
            <div class="form-row">
              <div class="form-group col-sm-6">
                <input type="text" class="form-control bg-secondary border-0 py-4 px-3" placeholder="Nombre completo" />
              </div>
              <div class="form-group col-sm-6">
                <input type="email" class="form-control bg-secondary border-0 py-4 px-3"
                  placeholder="Correo electrónico" />
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-sm-12">
                <select class="form-control bg-secondary border-0" style="height: 52px;">
                  <option>Asistiré a la ceremonia</option>
                  <option>Asistiré a todos los eventos</option>
                  <option>Asistiré a la fiesta</option>
                </select>
              </div>
            </div>
            <div class="form-group">
              <textarea class="form-control bg-secondary border-0 py-2 px-3" rows="5" placeholder="Déjanos un mensaje"
                required="required"></textarea>
            </div>
            <div>
              <button class="btn btn-primary font-weight-bold py-3 px-5" type="submit">Enviar</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- RSVP End -->


<!-- Footer Start -->
<div class="container-fluid bg-dark text-white py-5" id="contact" style="margin-top: 90px;">
  <div class="container text-center py-5">
    <div class="section-title position-relative text-center">
      <h1 class="font-secondary display-3 text-white">Muchas gracias!</h1>
      <i class="far fa-heart text-white"></i>
    </div>
    <div class="d-flex justify-content-center mb-4">
      <a class="btn btn-lg btn-outline-light btn-lg-square mr-2" href="#"><i class="fab fa-twitter"></i></a>
      <a class="btn btn-lg btn-outline-light btn-lg-square mr-2" href="#"><i class="fab fa-facebook-f"></i></a>
      <a class="btn btn-lg btn-outline-light btn-lg-square mr-2" href="#"><i class="fab fa-linkedin-in"></i></a>
      <a class="btn btn-lg btn-outline-light btn-lg-square" href="#"><i class="fab fa-instagram"></i></a>
    </div>
    <div class="d-flex justify-content-center py-2">
      <p class="text-white" href="#">info@example.com</p>
      <span class="px-3">|</span>
      <p class="text-white" href="#">+012 345 6789</p>
    </div>
    <p class="m-0">&copy; <a class="text-primary" href="#">Domain Name</a>. Designed by <a class="text-primary"
        href="https://htmlcodex.com">HTML Codex</a>
    </p>
  </div>
</div>
<!-- Footer End -->


<!-- Scroll to Bottom -->
<i class="fa fa-2x fa-angle-down text-white scroll-to-bottom"></i>

<!-- Back to Top -->
<a href="#" class="btn btn-lg btn-outline-primary btn-lg-square back-to-top"><i class="fa fa-angle-double-up"></i></a>
